.welcomeBox {
    height: 100vh;
    background: rgb(9,68,129);
    background: linear-gradient(252deg, rgba(9,68,129,1) 47%, rgba(7,56,101,1) 55%);
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0%, 50%) !important;
    background: rgba(7,56,101,1);
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 1);
}

.box h2 {
    color: #fff !important;
    font-weight: 500;
}
.box p{
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
    font-weight: 500;
}

.box .que{
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 500;
}

.box .startBtn{
    background: rgb(13, 90, 174);
    border-color: rgb(13, 90, 174);
    width: 100%;
    margin-top: 10px; 
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.box i {
    color: #fff;
}

